<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f38f0ac7-1d27-439c-9f3f-089cd8825a53" Alias="State-code" Level="1">
  <Info>
    <Name>State-code</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "ca"
    },
    {
      "id": 2,
      "value": "il"
    },
    {
      "id": 3,
      "value": "in"
    },
    {
      "id": 4,
      "value": "ak"
    },
    {
      "id": 5,
      "value": "az"
    },
    {
      "id": 6,
      "value": "ar"
    },
    {
      "id": 7,
      "value": "al"
    },
    {
      "id": 8,
      "value": "ct"
    },
    {
      "id": 9,
      "value": "co"
    },
    {
      "id": 10,
      "value": "de"
    },
    {
      "id": 11,
      "value": "ga"
    },
    {
      "id": 12,
      "value": "md"
    },
    {
      "id": 13,
      "value": "ia"
    },
    {
      "id": 14,
      "value": "id"
    },
    {
      "id": 15,
      "value": "hi"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>