@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<nav class="tabbed-sidebar" role="navigation" aria-label="Handbook section navigation">
    <ul class="tab-icon-list" role="tablist">
        <li role="presentation">
            <button class="tab-icon-button"
                    id="tab-welcome"
                    role="tab"
                    aria-controls="panel-welcome"
                    data-target="panel-welcome"
                    aria-selected="true"
                    tabindex="0">
                <span class="icon" aria-hidden="true">&#9776;</span>
                <span class="visually-hidden">Welcome</span>
            </button>
        </li>
        <li role="presentation">
            <button class="tab-icon-button"
                    id="tab-using"
                    role="tab"
                    aria-controls="panel-using"
                    data-target="panel-using"
                    aria-selected="false"
                    tabindex="-1">
                <span class="icon" aria-hidden="true">&#128295;</span>
                <span class="visually-hidden">Using the Handbook</span>
            </button>
        </li>
        <li role="presentation">
            <button class="tab-icon-button"
                    id="tab-policies"
                    role="tab"
                    aria-controls="panel-policies"
                    data-target="panel-policies"
                    aria-selected="false"
                    tabindex="-1">
                <span class="icon" aria-hidden="true">&#128221;</span>
                <span class="visually-hidden">Policies</span>
            </button>
        </li>
        <li role="presentation">
            <button class="tab-icon-button"
                    id="tab-help"
                    role="tab"
                    aria-controls="panel-help"
                    data-target="panel-help"
                    aria-selected="false"
                    tabindex="-1">
                <span class="icon" aria-hidden="true">&#128269;</span>
                <span class="visually-hidden">Help</span>
            </button>
        </li>
    </ul>
</nav>
