@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<nav class="tabbed-sidebar" role="navigation" aria-label="Handbook section navigation">
    <ul class="tab-text-list" role="tablist">
        <li role="presentation">
            <button class="tab-text-button"
                    id="tab-welcome"
                    role="tab"
                    aria-controls="panel-welcome"
                    data-target="panel-welcome"
                    aria-selected="true"
                    tabindex="0">
                Welcome
            </button>
        </li>
        <li role="presentation">
            <button class="tab-text-button"
                    id="tab-using"
                    role="tab"
                    aria-controls="panel-using"
                    data-target="panel-using"
                    aria-selected="false"
                    tabindex="-1">
                Using the Handbook
            </button>
        </li>
        <li role="presentation">
            <button class="tab-text-button"
                    id="tab-policies"
                    role="tab"
                    aria-controls="panel-policies"
                    data-target="panel-policies"
                    aria-selected="false"
                    tabindex="-1">
                Policies
            </button>
        </li>
        <li role="presentation">
            <button class="tab-text-button"
                    id="tab-help"
                    role="tab"
                    aria-controls="panel-help"
                    data-target="panel-help"
                    aria-selected="false"
                    tabindex="-1">
                Help
            </button>
        </li>
    </ul>
</nav>
