<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d7bf781-544c-4810-b956-f9f1ce9d58be" Alias="Doing Your Job" Level="2">
  <Info>
    <Parent Key="0d290b57-fca7-4932-b03c-863d83910731">Handbook Main</Parent>
    <Path>/HandbookMain/DoingYourJob</Path>
    <Trashed>false</Trashed>
    <ContentType>HandbookCategoryPage</ContentType>
    <CreateDate>2025-06-11T00:37:26</CreateDate>
    <NodeName Default="Doing Your Job" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e4ce2cef-11de-4ae5-9ffc-890198eb418a">CategoryContent</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Explore policies that shape your everyday work experience—from job expectations and conduct to remote work, equipment, and scheduling.]]></Value>
    </categoryDescription>
    <categoryTitle>
      <Value><![CDATA[Doing Your Job]]></Value>
    </categoryTitle>
  </Properties>
</Content>