<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d290b57-fca7-4932-b03c-863d83910731" Alias="Handbook Main" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HandbookMain</Path>
    <Trashed>false</Trashed>
    <ContentType>HandbookHomePage</ContentType>
    <CreateDate>2025-06-07T00:43:57</CreateDate>
    <NodeName Default="Handbook Main" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="48187a80-3a84-4889-8994-68228aba9853">TabbedNavigation</Template>
  </Info>
  <Properties>
    <categoriesToDisplay>
      <Value><![CDATA[umb://document/861a0d59d86a42fbb7fbcf00a0ba68d1,umb://document/cb8f35a8740a41e4a5f1ee1aa3cdd6ce,umb://document/6d7bf781544c4810b956f9f1ce9d58be,umb://document/0db158e8b6df48238308f033fe9694b4,umb://document/b330e22246794a0f9f7e137820ca4988,umb://document/f5a8c9d23e144f219b768c3a7e5d2f41]]></Value>
    </categoriesToDisplay>
    <introText>
      <Value><![CDATA[]]></Value>
    </introText>
    <pageTitle>
      <Value><![CDATA[Employee Handbook]]></Value>
    </pageTitle>
  </Properties>
</Content>