<?xml version="1.0" encoding="utf-8"?>
<Content Key="f88be908-bcef-43ae-b675-d447c5b946fa" Alias="Holiday Pay Policy" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/HolidayPayPolicy</Path>
    <Trashed Parent="861a0d59-d86a-42fb-b7fb-cf00a0ba68d1">true</Trashed>
    <ContentType>policyCard</ContentType>
    <CreateDate>2025-06-19T17:20:45</CreateDate>
    <NodeName Default="Holiday Pay Policy" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fullPolicyText>
      <Value><![CDATA[{
  "markup": "<p><span style=\"font-size: 11.0pt; line-height: 115%; font-family: 'Cambria',serif; mso-ascii-theme-font: minor-latin; mso-fareast-font-family: 'MS Mincho'; mso-fareast-theme-font: minor-fareast; mso-hansi-theme-font: minor-latin; mso-bidi-font-family: 'Times New Roman'; mso-bidi-theme-font: minor-bidi; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA;\">The company observes eight paid holidays per year. Full-time employees are eligible for holiday pay beginning after 30 days of employment. If a holiday falls on a weekend, it may be observed on the nearest weekday. Holiday pay is calculated at the employee’s standard rate of pay.</span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </fullPolicyText>
    <policyTitle>
      <Value><![CDATA[Holiday Pay Policy]]></Value>
    </policyTitle>
    <revisionDate>
      <Value><![CDATA[2025-06-01T00:00:00]]></Value>
    </revisionDate>
    <stateOverlays>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8d2fed4e85e941d0b375a3644fc799fa"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2e0e28b9-fc97-4bad-9111-b0d549970aad",
      "udi": "umb://element/8d2fed4e85e941d0b375a3644fc799fa",
      "stateCode": [
        "ca"
      ],
      "stateName": "California",
      "statePolicyText": {
        "markup": "<p><span style=\"font-size: 11.0pt; line-height: 115%; font-family: 'Cambria',serif; mso-ascii-theme-font: minor-latin; mso-fareast-font-family: 'MS Mincho'; mso-fareast-theme-font: minor-fareast; mso-hansi-theme-font: minor-latin; mso-bidi-font-family: 'Times New Roman'; mso-bidi-theme-font: minor-bidi; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA;\">California law does not require private employers to provide paid holidays. However, Avenu observes all designated holidays listed in the universal policy. Non-exempt California employees required to work on a holiday may be eligible for premium pay or a substitute day off, at manager discretion.</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </stateOverlays>
    <summary>
      <Value><![CDATA[Defines observed holidays and eligibility for paid time off during company holidays.]]></Value>
    </summary>
  </Properties>
</Content>