<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5a8c9d2-3e14-4f21-9b76-8c3a7e5d2f41" Alias="Leaving or Changing Roles" Level="2">
  <Info>
    <Parent Key="0d290b57-fca7-4932-b03c-863d83910731">Handbook Main</Parent>
    <Path>/HandbookMain/LeavingOrChangingRoles</Path>
    <Trashed>false</Trashed>
    <ContentType>HandbookCategoryPage</ContentType>
    <CreateDate>2025-06-11T00:39:30</CreateDate>
    <NodeName Default="Leaving or Changing Roles" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e4ce2cef-11de-4ae5-9ffc-890198eb418a">CategoryContent</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Understand resignation procedures, final pay, benefits continuation, and internal transfer opportunities when your role changes or ends.]]></Value>
    </categoryDescription>
    <categoryTitle>
      <Value><![CDATA[Leaving or Changing Roles]]></Value>
    </categoryTitle>
  </Properties>
</Content>