<?xml version="1.0" encoding="utf-8"?>
<Content Key="abd0bb45-8e26-4d06-a364-64d1768adef8" Alias="Leaving or Changing Roles" Level="2">
  <Info>
    <Parent Key="0d290b57-fca7-4932-b03c-863d83910731">Handbook Main</Parent>
    <Path>/HandbookMain/LeavingOrChangingRoles</Path>
    <Trashed>false</Trashed>
    <ContentType>HandbookCategoryPage</ContentType>
    <CreateDate>2025-06-27T22:22:13</CreateDate>
    <NodeName Default="Leaving or Changing Roles" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Understand what happens if you resign, transfer, or experience a change in your role—plus key exit procedures and employment classification info.]]></Value>
    </categoryDescription>
    <categoryTitle>
      <Value><![CDATA[Leaving or Changing Roles]]></Value>
    </categoryTitle>
  </Properties>
</Content>