<?xml version="1.0" encoding="utf-8"?>
<Content Key="861a0d59-d86a-42fb-b7fb-cf00a0ba68d1" Alias="Pay &amp; Benefits" Level="2">
  <Info>
    <Parent Key="0d290b57-fca7-4932-b03c-863d83910731">Handbook Main</Parent>
    <Path>/HandbookMain/PayBenefits</Path>
    <Trashed>false</Trashed>
    <ContentType>HandbookCategoryPage</ContentType>
    <CreateDate>2025-06-11T00:17:53</CreateDate>
    <NodeName Default="Pay &amp; Benefits" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e4ce2cef-11de-4ae5-9ffc-890198eb418a">CategoryContent</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Everything related to your compensation, health insurance, retirement, and other benefits.]]></Value>
    </categoryDescription>
    <categoryTitle>
      <Value><![CDATA[Pay & Benefits]]></Value>
    </categoryTitle>
  </Properties>
</Content>