<?xml version="1.0" encoding="utf-8"?>
<Content Key="b330e222-4679-4a0f-9f7e-137820ca4988" Alias="Safety, Security, &amp; Technology" Level="2">
  <Info>
    <Parent Key="0d290b57-fca7-4932-b03c-863d83910731">Handbook Main</Parent>
    <Path>/HandbookMain/SafetySecurityTechnology</Path>
    <Trashed>false</Trashed>
    <ContentType>HandbookCategoryPage</ContentType>
    <CreateDate>2025-06-11T00:38:52</CreateDate>
    <NodeName Default="Safety, Security, &amp; Technology" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e4ce2cef-11de-4ae5-9ffc-890198eb418a">CategoryContent</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Policies on workplace safety, IT use, data security, equipment, and emergency procedures.]]></Value>
    </categoryDescription>
    <categoryTitle>
      <Value><![CDATA[Safety, Security, & Technology]]></Value>
    </categoryTitle>
  </Properties>
</Content>