<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb8f35a8-740a-41e4-a5f1-ee1aa3cdd6ce" Alias="Taking Time Off" Level="2">
  <Info>
    <Parent Key="0d290b57-fca7-4932-b03c-863d83910731">Handbook Main</Parent>
    <Path>/HandbookMain/TakingTimeOff</Path>
    <Trashed>false</Trashed>
    <ContentType>HandbookCategoryPage</ContentType>
    <CreateDate>2025-06-11T00:20:58</CreateDate>
    <NodeName Default="Taking Time Off" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e4ce2cef-11de-4ae5-9ffc-890198eb418a">CategoryContent</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[Find out how to request time off, understand your leave options, and review policies for holidays, sick days, PTO, and special types of leave.]]></Value>
    </categoryDescription>
    <categoryTitle>
      <Value><![CDATA[Taking Time Off]]></Value>
    </categoryTitle>
  </Properties>
</Content>