:root {
    --iti-blue: #1C3354;
    --iti-blue-light: #8daed5;
    --iti-blue-lighter: #c7d7ea;
    --iti-navy: #194272;
    --iti-gray: #cccccb;
    --iti-red: #C12F33;
    --white: #fff;
    --black: #222;
}
