@* /Views/Partials/Footer.cshtml *@
<footer class="iti-footer">
    <div class="footer-content">
        <img src="https://www.avenuinsights.com/wp-content/themes/avenu/images/logo-avenu-footer.png" alt="ITI Logo" class="iti-footer-logo" />
        <span class="footer-copy">&copy; 2025 ITI. All rights reserved.</span>
    </div>
</footer>