<header class="iti-header">
    <div class="header-content">
        <img src="https://www.avenuinsights.com/wp-content/uploads/2017/12/logo.jpg" alt="ITI Logo" class="iti-logo" />
        <div class="header-titles">
            <h1>Employee Handbook</h1>
            <span class="header-tagline">We're here for you.</span>
        </div>
    </div>
</header>