@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.PublishedContent.IPublishedElement>

@{
    var stateCode = Model.Value<string>("stateCode");
    var stateName = Model.Value<string>("stateName");
    var policyText = Model.Value<string>("statePolicyText");
}

@if (!string.IsNullOrWhiteSpace(policyText))
{
    <div class="policy-overlay" data-state-code="@stateCode">
        <h4>For employees who work in @stateName:</h4>
        <div class="state-policy-text">
            @Html.Raw(policyText)
        </div>
    </div>
}
